*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: white;
    /* border: 1px solid blue; */
  
}
body,html{
    height: 95%;
    display: flex;
    flex-direction: column;
    background-color: black;
  }
  .home-page-container
  {
    flex:1;
    display: flex;
    background-color: black; 
    overflow: hidden;
  }

  /* ----------home-sidebar--------- */

  .home-sidebar
  {
    
    flex: 0.25;
    height: 100%;
    padding: 10px;
    padding-bottom: 50px;
    background-color:black;
    display: flex;
    flex-direction: column;
  }
  .logo >img
{
    width:130px;
    margin-left: 15px;
    margin-top: 15px;
}
.list-1
{
    padding: 10px;
    margin-top: 30px;
  border-radius: 10px;
   background-color: #303030;
}

.list-1 > li{
    list-style-type: none;
    height: 50px;
    padding-inline: 20px;
    display: flex;
    align-items: center;
}

.list-1 > li >a
{
    text-decoration: none;
    font-size: 25px;
    
}
.list-1 > li >a >i{
    margin-right: 20px;
}
.library-container
{
    width: 100%;
    /* height: 50%; */
    flex: 0.7;
    background-color: #242424;
    margin-top: 20px;
    padding: 20px 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    
   
}
.sidebar-library
{
   
    padding-inline: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
   
}
.sidebar-library >div{

    display: flex;
    align-items: center;
}
.sidebar-library > div > p
{
    font-size: 20px;
    margin-inline: 20px;
    font-weight: 500;
}
.library-img-container
{
    margin-top: 20px;
   

}
.library-img
{
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding-inline: 10px;

}
.library-img > p
{
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
}

  /* ----------main-container-------- */
  .home-main-container
{
    flex: 0.8;
    background-color:#151a19;
    padding-bottom: 50px;
    overflow-y: scroll;
    
}
.home-main-container::-webkit-scrollbar
{
    display: none;
}
.top-part
{
    padding-top: 50px;
    background-image: linear-gradient(to bottom,#8ca9a3,#6d847e,#374340);
    display: flex;
    justify-content: start;
    align-items: center;
}
.top-part > img{
   flex: 0.25;
}
.top-body-text
{
    flex: 0.75;
    height: 270px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.top-body-text > h1{
    color: white;
    font-size: 90px;
    font-weight: 900;
    word-wrap: break-word
}
.top-body-text > p{
     color: white;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
}
.top-body-text div span{
    font-size: 20px;
    font-weight: 600;
}
#liked-text
{
    color: white;
    font-size: 15px;
    opacity: 0.7;
    font-weight: 400;
    word-wrap: break-word
}
.symbols
{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding: 15px 30px;
}
.album-title
{
    margin: 10px 20px;
    padding-inline: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.album-title > p
{
    flex: 1;
    font-size: 12px;
    opacity: 0.7;
}

.music-container
{
    margin: 10px 10px 5px 20px;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.music-container:hover
{
    background-color: #222424;
}
.title-part
{
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}
.mid
{
    flex: 1;
    text-align: center;
    /* padding-inline-start: 25px; */
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.date-part
{
    flex: 0.7;
    padding-inline-start: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.date-body
{
    display: flex;
    align-items: center;
    gap: 10px;
}
/* ---------player-part-------- */
.home-page-player
{
    width: 100vw;
    height: 70px;
    background-color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0px;

}
.volume-controls
{
    width: 25vw;
    margin-inline: 10px;
    display: flex;
   align-items: center;
   gap: 20px;
}
.music-start > h4
{
    font-size: 18px;
    font-weight: 500;
}
.music-start > p
{
    font-size: 15px;
    margin-top: 5px;
    opacity: 0.5;
}
.player-center
{
    width: 40vw;
    height: 100%;
   padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.player-controls
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.player-timeline
{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}